In [1]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import json

In [2]:
data = pd.read_csv('../data/estimates.csv')

In [10]:
t = data[['p','p_per_capita','farms','m2_total','kwh_loss','yearly_sunlight_kwh_total']].sum()

t['loss_frac'] = t[-2] / t[-1] * 100

In [11]:
t.to_csv('../data/summary.csv')

In [5]:
data.sort_values('p',ascending=False).head(4)

,region_name,state_name,lat_max,lat_min,lng_max,lng_min,lat_avg,lng_avg,yearly_sunlight_kwh_kw_threshold_avg,count_qualified,...,state,pop2020,density,p,m2_total,farms,frac_farms,p_per_capita,kwh_loss,kwh_loss_pct
191,Houston,Texas,30.101932,29.525434,-95.015757,-95.785995,29.755418,-95.394486,1063.385674,500650.0,...,Texas,2340890,1411.7991,2.077664e+08,1.610592e+07,6815,0.013612,88.755305,3.076044e+09,16.775053
168,Memphis,Tennessee,35.261328,34.994389,-89.637380,-90.179543,35.118859,-89.943499,1054.850000,158507.0,...,Tennessee,647374,787.6075,1.154929e+08,8.952939e+06,2644,0.016681,178.402154,1.689495e+09,29.767922
194,New York,New York,40.913480,40.498477,-73.700456,-74.255402,40.694321,-73.917475,995.865988,644407.0,...,New York,8323340,10698.6142,1.062438e+08,8.235957e+06,3724,0.005779,12.764569,1.432379e+09,14.731259
192,Chicago,Illinois,42.022934,41.644663,-87.524449,-87.939569,41.846041,-87.690827,973.249976,414192.0,...,Illinois,2694240,4575.1780,9.030284e+07,7.000220e+06,2778,0.006707,33.517000,1.205427e+09,18.076891

In [6]:
data.sort_values('p_per_capita',ascending=False).head(4)

,region_name,state_name,lat_max,lat_min,lng_max,lng_min,lat_avg,lng_avg,yearly_sunlight_kwh_kw_threshold_avg,count_qualified,...,state,pop2020,density,p,m2_total,farms,frac_farms,p_per_capita,kwh_loss,kwh_loss_pct
88,Salt Lake City,Utah,40.835566,40.700759,-111.794956,-112.099638,40.751553,-111.882261,1173.85,46036.0,...,Utah,213367,744.1988,4.723119e+07,3.661332e+06,1177,0.025567,221.361256,7.457449e+08,40.057398
57,Ontario,California,34.091957,33.977754,-117.524543,-117.683313,34.051270,-117.632981,1437.35,37647.0,...,California,186653,1442.4163,3.996067e+07,3.097726e+06,847,0.022498,214.090672,7.231756e+08,41.134664
168,Memphis,Tennessee,35.261328,34.994389,-89.637380,-90.179543,35.118859,-89.943499,1054.85,158507.0,...,Tennessee,647374,787.6075,1.154929e+08,8.952939e+06,2644,0.016681,178.402154,1.689495e+09,29.767922
53,Chattanooga,Tennessee,35.198474,34.983749,-85.053839,-85.422988,35.057797,-85.244229,1034.45,51637.0,...,Tennessee,184143,497.3168,2.853702e+07,2.212172e+06,868,0.016810,154.972033,4.062067e+08,21.324991

In [8]:
data.sort_values('kwh_loss_pct',ascending=False).head(7)

,region_name,state_name,lat_max,lat_min,lng_max,lng_min,lat_avg,lng_avg,yearly_sunlight_kwh_kw_threshold_avg,count_qualified,...,state,pop2020,density,p,m2_total,farms,frac_farms,p_per_capita,kwh_loss,kwh_loss_pct
97,Arlington,Virginia,38.933709,38.827739,-77.033225,-77.171646,38.878562,-77.111089,1042.10,430.0,...,Virginia,231803,3442.6359,1.079868e+06,8.371072e+04,31,0.072093,4.658560,1.522512e+07,54.948122
57,Ontario,California,34.091957,33.977754,-117.524543,-117.683313,34.051270,-117.632981,1437.35,37647.0,...,California,186653,1442.4163,3.996067e+07,3.097726e+06,847,0.022498,214.090672,7.231756e+08,41.134664
88,Salt Lake City,Utah,40.835566,40.700759,-111.794956,-112.099638,40.751553,-111.882261,1173.85,46036.0,...,Utah,213367,744.1988,4.723119e+07,3.661332e+06,1177,0.025567,221.361256,7.457449e+08,40.057398
120,Jersey City,New Jersey,40.766880,40.668404,-74.026822,-74.107341,40.722430,-74.069353,982.60,29024.0,...,New Jersey,271099,7099.5087,1.554036e+07,1.204679e+06,341,0.011749,57.323552,2.104095e+08,33.707385
23,Kansas City,Kansas,39.202226,39.043965,-94.593299,-94.907855,39.108896,-94.699777,1065.90,33021.0,...,Kansas,153600,475.1461,2.228617e+07,1.727610e+06,560,0.016959,145.092246,3.226523e+08,32.227882
152,Minneapolis,Minnesota,45.051111,44.890806,-93.198376,-93.328917,44.958159,-93.268359,987.70,61486.0,...,Minnesota,437069,3125.0912,2.967705e+07,2.300546e+06,907,0.014751,67.900137,3.919259e+08,31.668538
134,Saint Paul,Minnesota,44.991880,44.891170,-93.004770,-93.207653,44.954326,-93.111789,982.60,48189.0,...,Minnesota,311895,2316.8204,2.326029e+07,1.803123e+06,710,0.014734,74.577296,3.056228e+08,30.867182