In [1]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import json

In [4]:
data = pd.read_csv('../data/data_w_pop.csv')

Index(['region_name', 'state_name', 'lat_max', 'lat_min', 'lng_max', 'lng_min',
       'lat_avg', 'lng_avg', 'yearly_sunlight_kwh_kw_threshold_avg',
       'count_qualified', 'percent_covered', 'percent_qualified',
       'number_of_panels_n', 'number_of_panels_s', 'number_of_panels_e',
       'number_of_panels_w', 'number_of_panels_f', 'number_of_panels_median',
       'number_of_panels_total', 'kw_median', 'kw_total',
       'yearly_sunlight_kwh_n', 'yearly_sunlight_kwh_s',
       'yearly_sunlight_kwh_e', 'yearly_sunlight_kwh_w',
       'yearly_sunlight_kwh_f', 'yearly_sunlight_kwh_median',
       'yearly_sunlight_kwh_total', 'install_size_kw_buckets_json',
       'carbon_offset_metric_tons', 'existing_installs_count', 'name', 'state',
       'pop2020', 'density'],
      dtype='object')

In [41]:
def get_produce_and_roofs(json_file,flat_fraction):
    # Each row in dataset contains json-like data structure, converts
    sizes = json.loads(json_file)
    # Assumptions for parameters
    flat_fraction = flat_fraction
    kw_per_m2 = .15
    threshold = 929.0304
    # Initialize lists
    flat_roof_size = []
    roofs = []
    # Loop through each bin and the distribution of the capacity                                 
    for size in sizes:
        # Predicted rooftop solar capacity in KWs DC
        kw_install = size[0]
        # Number of roofs in this bin
        n_roof = size[1]
        # Convert to watts, divide by kw / m2, multiply by fraction flat 
        m2 = kw_install * flat_fraction / kw_per_m2
        # Append to lists
        flat_roof_size.append(m2)
        roofs.append(n_roof)
    # Convert to numpy for element-wise multiplication property
    flat_roof_size = np.array(flat_roof_size) 
    roofs = np.array(roofs)
    # Only considers roofs above 10,000 Square Feet
    size_above = flat_roof_size[flat_roof_size > threshold]
    roofs_above = roofs[flat_roof_size > threshold]      
    # return total meter squared surface area, number of roofs / farms
    return (np.sum(size_above * roofs_above),np.sum(roofs_above))

In [42]:
n = data.shape[0]

p_factor = 21.5

p_by_city = []
m2_total_by_city = []
n_roofs_by_city = []

flat_fraction_by_city = data['number_of_panels_f'] / data['number_of_panels_total']
cities = data['install_size_kw_buckets_json'].to_numpy()

for idx, city in enumerate(cities):
    # Get capacity total for each city
    flat_fraction = flat_fraction_by_city.iloc[idx]
    m2_total, n_roofs_total = get_produce_and_roofs(city,flat_fraction)

    p = m2_total  * p_factor
    p_by_city.append(p)
    m2_total_by_city.append(m2_total)
    n_roofs_by_city.append(n_roofs_total)

In [43]:
# Assign Variables
data['p'] = p_by_city
data['m2_total'] = m2_total_by_city
data['n_roofs'] = n_roofs_by_city
data['p_per_capita'] = data['p'] / data['pop2020']
data[['region_name','state_name','pop2020','p','m2_total','n_roofs','p_per_capita']].sort_values('p_per_capita',ascending=False).iloc[:30]

,region_name,state_name,pop2020,p,m2_total,n_roofs,p_per_capita
150,Salt Lake City,Utah,213367,7.871865e+07,3.661332e+06,1177,368.935427
118,Ontario,California,186653,6.660111e+07,3.097726e+06,847,356.817787
90,Memphis,Tennessee,647374,1.924882e+08,8.952939e+06,2644,297.336924
4,Chattanooga,Tennessee,184143,4.756169e+07,2.212172e+06,868,258.286722
71,Kansas City,Kansas,153600,3.714361e+07,1.727610e+06,560,241.820410
143,Rockford,Illinois,145020,3.442146e+07,1.600998e+06,563,237.356630
138,Birmingham,Alabama,208940,4.751220e+07,2.209870e+06,930,227.396364
171,St. Louis,Missouri,293792,5.842115e+07,2.717263e+06,1088,198.852066
81,Little Rock,Arkansas,197371,3.915928e+07,1.821362e+06,765,198.404432
51,Greensboro,North Carolina,299946,5.865593e+07,2.728183e+06,1030,195.554961
170,Springfield,Missouri,169552,3.139453e+07,1.460211e+06,614,185.161655
160,Savannah,Georgia,145754,2.610118e+07,1.214008e+06,441,179.076931
54,Hayward,California,161314,2.777743e+07,1.291973e+06,511,172.194767
140,Richmond,Virginia,232055,3.942516e+07,1.833728e+06,713,169.895744
48,Grand Rapids,Michigan,205289,3.434740e+07,1.597554e+06,596,167.312425
119,Orlando,Florida,291739,4.779059e+07,2.222818e+06,899,163.812837
64,Baltimore,Maryland,590479,9.416853e+07,4.379932e+06,1632,159.478210
180,Tempe,Arizona,194218,2.991209e+07,1.391260e+06,634,154.012968
188,Waco,Texas,144015,2.207607e+07,1.026794e+06,413,153.290090
164,Shreveport,Louisiana,183819,2.809788e+07,1.306878e+06,544,152.856251
22,Des Moines,Iowa,217891,3.287519e+07,1.529079e+06,609,150.879060
73,Knoxville,Tennessee,191060,2.874143e+07,1.336811e+06,602,150.431454
60,Houston,Texas,2340890,3.462773e+08,1.610592e+07,6815,147.925508
67,Jackson,Mississippi,160080,2.323756e+07,1.080817e+06,486,145.162185
139,Reno,Nevada,260258,3.745745e+07,1.742207e+06,578,143.924291
42,Atlanta,Georgia,523738,7.417412e+07,3.449959e+06,1465,141.624482
11,Cleveland,Ohio,379233,5.227277e+07,2.431292e+06,1096,137.838133
111,Norfolk,Virginia,242234,3.268110e+07,1.520051e+06,662,134.915427
3,Charlotte,North Carolina,905318,1.220536e+08,5.676911e+06,2167,134.818477
9,Cincinnati,Ohio,306487,4.053049e+07,1.885139e+06,789,132.242111

In [44]:
data['p'].sum()

6143601956.528593